@model WebPashion.Models.PRODUCT_TYPE

@{
    ViewBag.Title = "EditType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Quản lý loại sản phẩm</h4>

                    </div>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="display:inline-flex;" class="modal-title" id="exampleModalLongTitle">Sửa thông tin loại sản phẩm&#160;<p style="font-weight:bold">@Model.TypeName</p>&#160; không !</h5>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div style="margin-top:20px;" class="form-horizontal">
                                <div style="display: inline-flex;" class="form-group">
                                    <div class="input-group-prepend">
                                        <span style="margin-left:50px" class="input-group-text">Tên loại:</span>
                                    </div>
                                    <div style="margin-left:10px;" class="col-md-10">
                                        @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-primary" />
                                    </div>
                                    <div style="margin-left:-180px">
                                        <a href="@Url.Action("GetTypeProduct","Admin")">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Trở về</button>

                                        </a>
                                    </div>
                                </div>

                            </div>
                        }
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
