
@using WebPashion.Models
@model List<WebPashion.Models.PRODUCT_DETAIL>
@{
    ViewBag.Title = "GetBill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Quản lý chi tiết đơn đặt hàng</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="text-align:center" class=" text-primary">
                                <th>
                                    Mã đơn hàng
                                </th>
                                <th>
                                    Mã chi tiết
                                </th>
                                <th>
                                    Mã sản phẩm
                                </th>
                                <th>
                                    Size sản phẩm                                
                                </th>
                                <th>
                                    Số lượng
                                </th>                             
                                <th>
                                   
                                </th>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr style="text-align:center;">

                                            <td>
                                                @Model[i].BillID

                                            </td>
                                            <td>
                                                @Model[i].DetailID
                                            </td>
                                            <td>
                                                @Model[i].ProductID
                                            </td>
                                            <td>
                                                @Model[i].Note
                                            </td>
                                            <td>
                                                @Model[i].ProductCount
                                            </td>                                          
                                            <td>
                                                <a href="@Url.Action("DeleteDetailsBill","Admin", new { id = Model[i].DetailID})"><img style="width:20px" src="~/Content/images/IMG/cancel.png" /></a>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                                <tr>
                                    @*<input type="button" value="Create User" onclick="" class="btn btn-primary pull-left" />*@

                                    @*<input class="btn btn--blue" type="submit" value="SUBMIT" name="SUBMIT">
                                        <button type="submit" class="btn btn-primary pull-right">Create</button>*@

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

